<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <main>
        <h2>Doadores <span><%= donors[0].blood %></span></h2>
        <section class="donors">

            <% for(let i = 0; i < donors.length; i++) { %>
            <div class="donor">
                <div class="blood"><%= donors[i].blood %></div>
                <p><%= donors[i].name %></p>
            </div>
            <% } %>

        </section>
        <a href="/"><button id="btnLimpar">Voltar</button></a>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>

</html>