<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <section class="form hide">
        <h2>Entre na lista de doadores</h2>
        <form action="/insert" method="POST">
            <input type="text" name="name" placeholder="Nome Completo" id="name" required>
            <input type="text" name="email" placeholder="Email" id="email" required>
            <input type="text" name="blood" placeholder="Tipo Sanguineo" id="blood" required>
            <button>Quero ajudar</button>
        </form>
    </section>

    <main>
        <h2>Últimos <span>doadores</span></h2>
        <section class="donors">

            <% for(let i = 0; i < donors.length; i++) { %>
            <div class="donor">
                <div class="blood"><%= donors[i].blood %></div>
                <p><%= donors[i].name %></p>
            </div>
            <% } %>

        </section>

        <form action="/delete" method="GET">
            <button id="btnLimpar">Deletar todos doadores</button>
        </form>

        <form action="/listDonors" method="POST" id="list">
            <button type="submit" name="blood" value="A+">Doadores A+</button>
            <button type="submit" name="blood" value="A-">Doadores A-</button>
            <button type="submit" name="blood" value="B+">Doadores B+</button>
            <button type="submit" name="blood" value="B-">Doadores B-</button>
            <button type="submit" name="blood" value="AB+">Doadores AB+</button>
            <button type="submit" name="blood" value="AB-">Doadores AB-</button>
            <button type="submit" name="blood" value="O+">Doadores O+</button>
            <button type="submit" name="blood" value="O-">Doadores O-</button>
        </form>

    </main>

    <%- include ('partials/footer.ejs') %>
</body>

</html>